<!-- TODO: informes-epine-component.html -->
<header id="informes" class="informes-panel panel-default epine-component" ng-controller='informesEpineController as mc'>
  <div class="panel-heading"><img src="./images/arrow_rOrange.gif">&nbsp;Informes EPINE</img></div>
  <div class="panel-body">
    <section class="row content">
		<div class="col-sm-12">
			<p><a href="docs/descargas/Noticias_y_avisos.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Introducci&oacuten</img></a></p>
		    <p><a href="docs/descargas/EPINE-EPPS Formulario H.doc" target="_new"><img src="./images/word.gif">&nbsp;Formulario del Hospital</img></a></p>
		    <p><a href="docs/descargas/EPINE-EPPS Formulario H.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Formulario del Hospital</img></a></p>
		    <p><a href="docs/descargas/EPINE-EPPS Formulario P.doc" target="_new"><img src="./images/word.gif">&nbsp;Formulario del Paciente</img></a></p>
		    <p><a href="docs/descargas/EPINE-EPPS Formulario P.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Formulario del Paciente</img></a></p>
      	</div>
      	<div>
      		<img src="./images/PromoEPINE.jpg" class="img-responsive"></img>      	
      	</div>    	 
    </section>
  </div>
</header>