<section id="pagina-ini" ng-controller='paginaInicioController as mc'>
	<div class="contenedor">
  		<article class="lado-izq">	
		    <informacion-epine-component></informacion-epine-component>
	       	<enlaces-interes-component></enlaces-interes-component>
  		</article>
  		<article class="centro">
 	    	<login-component></login-component>
	    	<graficos-component></graficos-component>		
  		</article>
  		<article class="lado-dcho">
  			<informes-epine-component></informes-epine-component>
  		</article>
  	</div>
</section>