<!-- TODO: enlaces-interes-component.html -->
<header  id="enlaces-epine" class="enlaces-panel panel-default epine-component" ng-controller='enlacesInteresController as mc'>
  <div class="panel-heading"><img src="./images/arrow_rOrange.gif">&nbsp;Enlaces de Inter&eacute;s</img></div>
  <div class="panel-body">
    <section class="row content">
		<div class="col-sm-12">
      		<p><a href="http://www.sempsph.com/sempsph/index.php" target="_new"><img src="./images/arrow_rOrange.gif">&nbsp;SEMPSPH</img></a></p>
      		<p><a href="http://www.ecdc.europa.eu/en/Pages/home.aspx" target="_new"><img src="./images/arrow_rOrange.gif">&nbsp;ECDC</img></a></p>
     		<p><a href="http://sede.msps.gob.es/home.do" target="_new"><img src="./images/arrow_rOrange.gif">&nbsp;MSPS</img></a></p>
     		<p><a href="http://www.cdc.gov/hai/eip/antibiotic-use.html" target="_new"><img src="./images/arrow_rOrange.gif">&nbsp;CDC/EEUU</img></a></p>
      	</div>      	 
    </section>
  </div>
</header>