<!-- TODO: graficos-component.html -->
<article id="graficos" class="grafico-panel epine-component" ng-controller='graficosController as mc'>    
	<div class="panel-body">
		<div class="row content">
			<div class="col-sm-6 panel-graphic-size">
				<a href="./images/graphics/1-Prevalencia_IN.jpg" target="_blank">
					<img src="./images/graphics/1-Prevalencia_IN.jpg" alt="Prevalencia" width="150" height="100" border="0" align="middle">
				</a>
			</div>
			<div class="col-sm-6 panel-graphic-size">
				<a href="./images/graphics/4-Prevalencia_IN_Ingr.jpg" target="_blank">
					<img src="./images/graphics/4-Prevalencia_IN_Ingr.jpg" alt="Prevalencia Ing" width="150" height="100" border="0" align="middle">
				</a>
			</div>
	  	</div>
		<div class="row content">
			<div class="col-sm-6 panel-graphic-size">
				<a href="./images/graphics/2-Localizaciones_IN.jpg" target="_blank">
					<img src="./images/graphics/2-Localizaciones_IN.jpg" alt="Localizaciones" width="150" height="100" border="0" align="middle">
				</a>
			</div>
			<div class="col-sm-6 panel-graphic-size">
				<a href="./images/graphics/3-Antimicrobianos.jpg" target="_blank">
					<img src="./images/graphics/3-Antimicrobianos.jpg" alt="Antimicrobianos" width="150" height="100" border="0" align="middle">
				</a>
			</div>
	  	</div>
  	</div>
</article>


