<!-- TODO: informacion-epine-component.html -->
<section id="informacion-epine" class="panel panel-default epine-component" ng-controller='informacionEpineController as mc'>
  <div class="panel-heading"><img src="./images/arrow_rOrange.gif">&nbsp;Informaci&oacute;n EPINE</img></div>  
  <div class="panel-body desplegable">   
    <section class="panel-group desplegable" id="accordion">
    	<div class="col-sm-12">
      		<p><a href="docs/descargas/Presentacion.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Presentaci&oacuten</img></a></p>   		
      	</div>  
		<div class="panel desplegable">
	    	<div class="panel-heading desplegable">
	        	<p class="flecha-enlace" > <img src="./images/arrow_d.gif"></img>
	        		<button class="boton-tipo-enlace" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
	        	Noticias y avisos</button>
	        	</p>
	       	</div>
	      	<div id="collapse1" class="desplegable panel-collapse collapse in">
				<div class="panel-body desplegable desplegable">
		      		<p><a href="docs/descargas/Noticias_y_avisos.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Introducci&oacuten</img></a></p>
		      		<p><a href="docs/descargas/EPINE-EPPS Formulario H.doc" target="_new"><img src="./images/word.gif">&nbsp;Formulario del Hospital</img></a></p>
		     		<p><a href="docs/descargas/EPINE-EPPS Formulario H.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Formulario del Hospital</img></a></p>
		     		<p><a href="docs/descargas/EPINE-EPPS Formulario P.doc" target="_new"><img src="./images/word.gif">&nbsp;Formulario del Paciente</img></a></p>
		     		<p><a href="docs/descargas/EPINE-EPPS Formulario P.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Formulario del Paciente</img></a></p>
		      	</div>
	    	</div>
	    </div>
	    <div class="panel desplegable">
	    	<div class="panel-heading desplegable">	        	
	        	<p class="flecha-enlace"> <img src="./images/arrow_d.gif"></img>
	        		<button class="boton-tipo-enlace" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
	        		Documentaci&oacuten del estudio</button>
	        	</p>
	        </div>
	      	<div id="collapse2" class="panel-collapse collapse desplegable">
				<div class="panel-body desplegable">
		      		<p><a href="docs/descargas/Curso de Formación presencial EPINE-EPPS 2017.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Organizaci&oacuten</img></a></p>
		     		<p><a href="docs/descargas/Preguntas frecuentes ing.xls" target="_new"><img src="./images/excel.GIF">&nbsp;FAQ en ingl&eacutes</img></a></p>
		     		<p><a href="docs/descargas/Casos de estudio con respuestas.pdf" target="_new"><img src="./images/pdf.gif">&nbsp;Casos con respuestas</img></a></p>
		      	</div>
	    	</div>
	    </div>
    </section>
  </div>
</section>